body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
#title{
  background-color: #ff4c68;
  color: #fff;
  padding: 3% 15% 10% 15%;

}
h1{
  font-size: 3rem;
  font-family: 'Fredoka One', cursive;

}
h3{
  font-size: 1.2rem;
    line-height: 1.5;
}
h2{
  font-size: 1.5rem;
}
h4{
padding-bottom: 1.5rem;
}
.navbar{
  padding-bottom: 5rem;
}
.navbar-toggler{
  background-image: url('images/menu.png');
}

.nav-item{
  padding-right: 5%;
}
.nav-link{
  font-size: 1.1rem;
}
.col-lg-6{
  padding:50px;
}
.title-img{
width: 330px;
padding-left: 15%;
}
.btn{
  margin:10% 7% 10% 0;
  font-size: 15px;
  font-weight: 100;
}

/* skills section */

.skills{
  padding: 7% 20%;
}
.skill{
  align-items: center;
  text-align: center;
  padding: 2% 5%;
}
.skill-p{
  font-size: 1rem;
  line-height: 1.5;
  color: #7e8a97;
}
.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #ff4c68;
}

/* My Work Section */

#works{
  background-color: #ff4c68;
  padding: 7% 15%;
}
.card{
  background-color: #393e46;
}
.card-body{
  padding: 30px;
  color: #fff;
}
.banner{
  padding: 3%;
}
.folder{
  padding-bottom: 10px;
}
.link{
  float: right;
  padding: 5px;
}
.card-title{
  padding-bottom: 7px;
}
.card-text{
padding-top: 7px;
}
