body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
#title{
  background-color: #ff4c68;
  color: #fff;
  padding: 3% 15%;

}
h1{
  font-size: 3rem;
  font-family: 'Fredoka One', cursive;

}
h3{
  font-size: 1.2rem;
    line-height: 1.5;
}
h4{
padding-bottom: 1.5rem;
}
.navbar{
  padding-bottom: 4rem;
}
.navbar-toggler{
  background-image: url('images/menu.png');
}

.nav-item{
  padding-right: 5%;
}
.nav-link{
  font-size: 1.2rem;
  color: white;
}
.col-lg-6{
  padding:50px;
}
.title-img{
width: 330px;
padding-left: 15%;
}
.btn{
  margin:10% 7% 10% 0;
}
